<footer class="footer">
    <div class="main-footer" data-pg-collapsed>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="widget w-footer widget_black_studio_tinymce">
                        <h6 class="widget-title"><span class="light">About</span> Us</h6>
                        <div class="textwidget">Online Events and Tickets Booking

                          <div class="col-xs-12 appoint">
                            <a href="#" class="btn btn-primary" target="_blank">Create Events Now</a>
                          </div>


                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="widget w-footer widget_nav_menu">
                        <h6 class="widget-title"><span class="light">Extra</span> Navigation</h6>
                        <div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="menu">
                                <li id="menu-item-6694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6694">
                                    <a href="https://demos.qreativethemes.com/thelandscaper/shortcodes/">Shortcodes</a>
                                </li>
                                <li id="menu-item-6696" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6696">
                                    <a href="http://www.qreativethemes.com/docs/thelandscaper">Documentation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="widget w-footer widget_nav_menu">
                        <h6 class="widget-title"><span class="light">Our</span> Services</h6>
                        <div class="menu-services-menu-container">
                            <ul id="menu-services-menu" class="menu">
                                <li id="menu-item-6684" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6684">
                                    <a href="https://demos.qreativethemes.com/thelandscaper/services/">See all Services</a>
                                </li>
                                <li id="menu-item-6685" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6685">
                                    <a href="https://demos.qreativethemes.com/thelandscaper/services/irrigation-and-drainage/">Irrigation & Drainage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="widget w-footer widget-opening-hours">
                        <h6 class="widget-title"><span class="light">Working</span> Hours</h6>
                        <div class="opening-times">
                            <ul>
                                <li class="weekday">Monday
                                    <span class="right">8:00am-5:00pm</span>
                                </li>
                                <li class="weekday">Tuesday
                                    <span class="right">8:00am-5:00pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer" data-pg-collapsed>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="bottom-left">
                        <p>© 2017 <a href="http://themeforest.net/user/qreativethemes/portfolio?ref=QreativeThemes" target="_blank">DK - Son DANG</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="bottom-middle">
                        <p><a href="http://facebook.com/qreativethemes" target="_blank"><i class="fa fa-facebook-square"></i></a><a href="http://twitter.com/qreativethemes" target="_blank"><i class="fa fa-twitter-square"></i></a><a href="https://demos.qreativethemes.com/thelandscaper/#"><i class="fa fa-linkedin-square"></i></a><a href="https://demos.qreativethemes.com/thelandscaper/#"><i class="fa fa-youtube-square"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
